/*--Body--*/
body {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
/*--Header--*/

.conteneurheader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}
header a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
header ul {
    display : flex;
    list-style: none;
    margin-left: auto;
    
}
header ul li {
    margin-left: 2rem;
    color: #0065FC;
}
header .conteneurheader > a {
    margin-left: 2rem;
    color: #0065FC;
}
header ul li a:hover {
    border-top: 4px solid #0065FC;
    color: #0065FC;
    padding-top: 3.7rem;
}


/*--section recherche--*/
.conteneurpage{
    max-width: 100%;
}
.recherche{
    padding-left: 50px;    
}
h1{
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0px; 
}
.titre1 p{
    margin-top: 0px;
    font-size: 0.9rem;
}

.bouton{
    display: flex; 
    margin-top: 1rem;
}
.bouton > * {
    border: 2px solid #f2f2f2;
    line-height: 1rem;
    padding: 0 1rem;
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}
.apparenceicone{
    background-color: #F2F2F2;
    padding: 1rem 1rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}
.barreentree{
    border-left: none;
    border-right: none;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid;
}
.rechercher{
    background-color: #0065FC;
    border-radius: 0 1rem 1rem 0;
    border: none;
}
.rechercher i {
    display: none;
}
.conteneurfiltres {
    padding-left: 50px;
}
.filtres{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.bandefiltres{
    display: flex;
    flex-wrap: wrap;
}
.boutonfiltre{
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 0;
    height: 3rem;
    border: 2px solid #F2F2F2;
    border-radius: 50px;  
    transition: background-color 0.3s;
}
.boutonfiltre i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;  
    transition: background-color 0.3s ease-in;
}
.filtres h2{
    font-size: 1rem;
    padding-right: 2rem;
}
.boutonfiltre h2{
    padding-left: 1.25rem;
    transition: color 0.3s ease-in, font-size 0.3s ease-in;
}
.texterechercher{
    font-weight: bold;
    color: white;
    font-size: 1rem;
}
.info{
    display: flex;
    align-items: center;  
}
.info i{
    border: 2px solid #F2F2F2;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #0065fc;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

/*-- Transition hoover --*/


.boutonfiltre:hover i {
    background-color: white;   
}
.boutonfiltre:hover {
    background-color: #DEEBFF 
}
.boutonfiltre:hover h2 {
    color: #0065FC ;
    font-size: 1.15rem;
}



/*---Section hébergement---*/
#conteneurhebergementsetpopulaires {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}
#hebergements {
    background: #F2F2F2;
    border-radius: 20px;
    width: 65em;
}
.conteneurhebergement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}
.conteneurcarte {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 20px;
}
.carteimage {
    width: 100%;
    height: 8em;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    padding: 5px 5px 0px 5px;
}
.carte {
    width: 17.5em;
    height: 14em;
    border-radius: 20px;
    background-color: white;
    margin: 0;
    text-decoration: none;
}
.titrehebergements h2{
    font-size: 1.25rem;
    padding: 20px 0px 20px 25px;
}
.texteimage{
    padding-left: 15px;
}
.texteimage i {
    color: #0065FC;
    font-size: 0.7rem;   
}
.texteimage p, .texteimage h3 {
    font-size: 1rem;
    color: black;
    margin: 5px 2px 10px 0;
}
.plus {
    padding-left: 25px;
    padding-bottom: 30px;
}
.plus a {
    color:black;
    font-size: 1rem;
    font-weight: bold;
}

/*--Section Aside Populaires--*/
aside {
    display: flex;
    flex-direction: column;
    width: 25em;
    height: auto;
    border-radius: 20px;
    background-color: #F2F2F2;
}
.titrepopulaires {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding: 20px;
    font-size: 0.8em;
}
.titrepopulaires i {
    font-size: 1.5em;
}
.tuilepopulaires {
    margin-bottom: 40px;
}
#populaires {
    display: flex;
    flex-direction: column;
}
.populaireimage {
    width: 8em;
    height: 8em;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    margin: 5px;
}
.cliccarte {
    display: flex;
    background-color: white;
    border-radius: 25px;
    margin: 10px 20px;
    text-decoration: none;
}
.details h4 , p {
    color: black;
    font-size: 1rem;
}
.details i {
    color: #0065FC;
    font-size: 0.7rem;
}

/*--Activités à Marseille--*/
#activites {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titreactivites {
    padding-left: 50px;
}
.titreactivites h2 {
    font-size: 1.25rem;
}
.carteactivite {
    text-decoration: none;
    color: black
}
#conteneuractivites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#conteneuractivites img {
    width: 315px;
    margin: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    
}
.vieuxport figure, .pomegues figure, .frioul figure, .calanques figure, .damegarde figure, .longchamp figure {
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    box-sizing: border-box;
}
.vieuxport h3, .pomegues h3, .frioul h3, .calanques h3, .damegarde h3, .longchamp h3 {
    padding-left: 20px;
}
.vieuxport img, .calanques img {
    height: 420px;
}
.pomegues img {
    height: 206px;
}
.frioul img {
    height: 142px;
}
.damegarde img {
    height: 175px;
}
.longchamp img {
    height: 170px;
}
figcaption h3 {
    font-size: 1rem;
}


/*---Footer---*/
#conteneurfooter {
    display: flex;
    width: 100%;
    margin-top: 40px;
    background-color: #F2F2F2;
}
.apropos, .hebergements, .assistance {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 0px;
    width: 50%;
}
footer a {
    text-decoration: none;
    color: black;
    margin-top: 1em;
}








@media screen and (min-width: 1600px) {
    body {
        body: 100%;
        margin: auto;
        overflow-x: hidden;
    }
    header {
        max-width: 100rem;
        margin: auto;
    }
    .conteneurpage {
        max-width: 100rem;
        margin: auto;
    }
    footer {
        max-width: 100rem;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .conteneurheader {
        margin: 15px;
    }
   