/*--Body--*/
body {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
/*--Header--*/

.conteneurheader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
.conteneurheader img {
    padding-left: 10px;
}
header a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
header ul {
    display : flex;
    list-style: none;
    margin-left: auto;
    
}
header ul li {
    margin-left: 2rem;
    color: #0065FC;
}
header .conteneurheader > a {
    margin-left: 2rem;
    color: #0065FC;
}
header ul li a:hover {
    border-top: 4px solid #0065FC;
    color: #0065FC;
    padding-top: 2rem;
}


/*--section recherche--*/
.conteneurpage{
    max-width: 100%;
}
.recherche{
    margin-left: 30px;    
}
h1{
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0px; 
}
.titre1 p{
    margin-top: 0px;
    font-size: 0.9rem;
}

.bouton{
    display: flex; 
    margin-top: 1rem;
}
.bouton > * {
    border: 2px solid #f2f2f2;
    line-height: 1rem;
    padding: 0 1rem;
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}
.apparenceicone{
    background-color: #F2F2F2;
    padding: 1rem 1rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}
.barreentree{
    border-left: none;
    border-right: none;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid;
}
.rechercher{
    background-color: #0065FC;
    border-radius: 0 1rem 1rem 0;
    border: none;
}
.rechercher i {
    display: none;
}
.conteneurfiltres {
    margin-left: 30px;
}
.filtres{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.bandefiltres{
    display: flex;
    flex-wrap: wrap;
}
.boutonfiltre{
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 0;
    height: 3rem;
    border: 2px solid #F2F2F2;
    border-radius: 50px;  
    transition: background-color 0.3s;
}
.boutonfiltre i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;  
    transition: background-color 0.3s ease-in;
}
.filtres h2{
    font-size: 1rem;
    padding-right: 2rem;
}
.boutonfiltre h2{
    padding-left: 1.25rem;
    transition: color 0.3s ease-in, font-size 0.3s ease-in;
}
.texterechercher{
    font-weight: bold;
    color: white;
    font-size: 1rem;
}
.info{
    display: flex;
    align-items: center;  
}
.info i{
    border: 2px solid #F2F2F2;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #0065fc;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

/*-- Transition hoover --*/


.boutonfiltre:hover i {
    background-color: white;   
}
.boutonfiltre:hover {
    background-color: #DEEBFF 
}
.boutonfiltre:hover h2 {
    color: #0065FC ;
    font-size: 1.15rem;
}



/*---Section hébergement---*/
#conteneurhebergementsetpopulaires {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
}
#hebergements {
    background: #F2F2F2;
    border-radius: 20px;
    width: 60em;
}
.conteneurhebergement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}
.conteneurcarte {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 20px;
    
}
.carteimage {
    width: 100%;
    height: 8em;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    padding: 5px 5px 0px 5px;
}
.carte {
    width: 17.5em;
    height: 14em;
    border-radius: 20px;
    background-color: white;
    margin: 0;
    text-decoration: none;
    box-shadow: 0px 0px 10px #F2F2F2,
                0px 0px 10px #A9A9A9;
}
.titrehebergements h2{
    font-size: 1.25rem;
    padding: 20px 0px 20px 25px;
}
.texteimage{
    padding-left: 15px;
}
.fa-star {
    color: #0065FC;
    font-size: 0.7rem;   
}
.texteimage p, .texteimage h3 {
    font-size: 1rem;
    color: black;
    margin: 5px 2px 10px 0;
}
.plus {
    padding-left: 25px;
    padding-bottom: 30px;
}
.plus a {
    color:black;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}
.fa-star.grise {
    color:#F2F2F2;
}

/*--Section Aside Populaires--*/
aside {
    display: flex;
    flex-direction: column;
    width: 25em;
    height: auto;
    border-radius: 20px;
    background-color: #F2F2F2;
}
.titrepopulaires {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding: 20px;
    font-size: 0.8em;
}
.titrepopulaires i {
    font-size: 1.5em;
}
.tuilepopulaires {
    margin-bottom: 40px;
}
#populaires {
    display: flex;
    flex-direction: column;
}
.populaireimage {
    width: 8em;
    height: 8em;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    margin: 5px;
}
.cliccarte {
    display: flex;
    background-color: white;
    border-radius: 25px;
    margin: 10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 13px 0px #A9A9A9;
}
.details h4 , p {
    color: black;
    font-size: 1rem;
}
.details h4 {
    margin: 10px 0;
}
.details p {
    margin: 0 0 40px 0;
}
.details i {
    color: #0065FC;
    font-size: 0.7rem;
}

/*--Activités à Marseille--*/
#activites {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titreactivites {
    padding-left: 15px;
}
.titreactivites h2 {
    font-size: 1.25rem;
}
.carteactivite {
    text-decoration: none;
    color: black;   
}
#conteneuractivites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
#conteneuractivites img {
    width: 290px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;    
}
.vieuxport figure, .pomegues figure, .frioul figure, .calanques figure, .damegarde figure, .longchamp figure {
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 13px 0px #A9A9A9;
}
.vieuxport h3, .pomegues h3, .frioul h3, .calanques h3, .damegarde h3, .longchamp h3 {
    padding-left: 20px;
}
.vieuxport img, .calanques img {
    height: 420px;
}
.pomegues img {
    height: 206px;
}
.frioul img {
    height: 142px;
}
.damegarde img {
    height: 175px;
}
.longchamp img {
    height: 170px;
}
figcaption h3 {
    font-size: 1rem;
}


/*---Footer---*/
#conteneurfooter {
    display: flex;
    width: 100%;
    margin-top: 40px;
    background-color: #F2F2F2;
}
.apropos, .hebergements, .assistance {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 0px;
    width: 50%;
}
footer a {
    text-decoration: none;
    color: black;
    margin-top: 1em;
}










@media screen and (min-width: 374px) and (max-width: 767px) {
    /*-- responsiveHeader --*/
   
    .conteneurheader {
        width: 95%;
        margin: 0 auto;
    }
    .conteneurheader > img{
        order: 1;
        padding-left: 10px;
        padding-top: 20px;
    }
    .conteneurheader a.inscription {
        margin: 0;
        padding: 20px 10px 0 0;
    }
    .conteneurheader > a {
        order: 2;
        flex-grow: 1;
        text-align: right;
        margin: 0;
        font-size: 1.2em;
        padding-right: 10px;
    }
    ul li a {
        font-size: 1.2rem;
    }
    .conteneurheader > ul {
        order: 3;
        padding: 0;
        display: flex;
        width: 107.5%;
        margin: 30px -5% 0;
    }
    .conteneurheader > ul > li > a {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .conteneurheader > ul > li {
        width: 50%;
        margin: 0;
        text-align: center;
        padding-bottom: 20px;
    }
    header ul li a :hover {
        border-top: 4px solid #0065FC;
        color: #0065FC;
        padding-bottom: 3.5rem;
    }
    .conteneurheader > ul > li {
        border-bottom: 4px solid #F2F2F2;
    }
    .conteneurheader > ul > li:hover {
        border-bottom: 4px solid #0065FC;
    }
    header ul li a:hover {
        border-top: none;
    }
    /*-- responsive Recherche --*/
    .titre1 h1 {
        font-size: 1.7rem;
    }
    .titre1 p {
        font-size: 1.2rem;
    }
    .barreentree {
        font-size: 1.3rem;
    }
    .recherche {
        margin-top: 20px;
        padding: 0 10px 0 10px;

    }
    .texterechercher {
        display: none;
    }
    .rechercher {
        border-radius: 10px 10px;
    }
    .rechercher i {
        display:flex;
    }
    .fa-search {
        color: white;
    }

    /*--- responsive Section Filtres ----*/
    .conteneurfiltres {
        padding-left: 15px;
        margin: 0;
        margin-bottom: 20px;
    }
    .filtres {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .titrefiltres {
        width: 100%;
        margin: 0;
    }
    .boutonfiltre {
        margin: 10px 10px 10px 0;
    }
    .info i{
        width: 30px;
        height: 30px;   
    }
    .info {
        padding-left: 10px;
    }
    .boutonfiltre h2 {
        font-size: 1.2rem;
        padding: 0 15px 0 10px; 
    }
    .titrefiltres  h2{
        font-size: 1.2rem;
    }
    .info p {
        font-size: 1.1rem;
    }

    /*--- Responsive Section Hébergement --*/
    #conteneurhebergementsetpopulaires {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        
    }
    aside {
        order: -1;
        padding: 0;
        border-radius: 0;
        margin: 0;
        width: 100%;
    }
    #populaires {
        width: 100%;
    }
    .cliccarte {
        width: 100%;
    }
    .tuilepopulaires {
        margin-bottom: 0px;
    }
    .details {
        padding-left: 10px;
    }
    .details h4 {
        font-size: 1.3rem;
    }
    .populaireimage {
        height: 10em;
        width: 38%;
    }
    #hebergements {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: white;
    }
    .conteneurhebergement {
        display: flex;
    }
    .carte {
        width: 100%;
        height: auto;
    }
    .cliccarte {
        width: auto;
    }
    .titrehebergements {
        margin-left: 15px;
    }
    .conteneurcarte {
        padding: 10px;
    }
    .carteimage {
        object-fit: cover;
        width: 100%;
    }
    .texteimage {
        padding-bottom: 10px;
    }
    .texteimage h3 {
        margin: 5px 2px 5px 0px;
    }
    .texteimage p {
        margin: 0 2px 5px 0;
    }

    /*--- Responsive Activités à Marseilles ---*/
    #activites {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .titreactivites {
        padding-left: 20px;
    }
    #conteneuractivites {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #conteneuractivites figure {
        margin: 20px;
    }
    #conteneuractivites img {
        width: 100%;
        height: 200px;
    }
    .vieuxport, .premierdouble, .calanques, .seconddouble, {
        width: 100%;
    }
    /*--- Responsive Section Footer --*/
    #conteneurfooter {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        width: 100%;
    }
    .apropos, .hebergements, .assistance {
        padding-left: 5rem;
        width: 100%;
        
    }
}

@media screen and (min-width: 560px) and (max-width: 767px) {
        .tuilepopulaires {
            width: 530px;
            height: 180px;
        }
        #populaires {
            align-items: center;
            margin-bottom: 30px;
        }
        .conteneurcarte {
            width: 530px;
            height: 280px;
        }
        .carte {
            height: 100%;
        }
        .carteimage {
            height: 60%;
        }
        .carteactivite figure {
            width: 530px;
            height: 250px;
        }
        #conteneuractivites {
            align-items: center;
        }
    }
@media screen and (min-width: 768px) and (max-width: 1200px) {
    #conteneurhebergementsetpopulaires {
        display: flex;
        flex-direction: column-reverse;
        max-height: none;
        justify-content: space-between;
    }
    #hebergements {
        display: flex;
        flex-direction: column;
        width: auto;
        max-width: 1200px;
        padding: 40px 0;
    }
    .carteimage{
        width: 100%;
    }
    .tuilepopulaires {
        width: 530px;
        height: 180px;
        margin-bottom: 0;
    }
    #populaires {
        align-items: center;
        width: 100%;
        
    }
    aside {
        width: 100%;
        margin-bottom: 40px;
    }
    .populaireimage {
        height: 10em;
        width: 38%;

    }
}    
@media screen and (min-width: 900px) and (max-width: 1200px) {
    #populaires{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .tuilepopulaires{
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 1122px) {
    #conteneuractivites {
        justify-content: space-around;
    }
    #conteneuractivites img {
        width: 235px;
    }
    .carteactivite figure{
        margin: 0px;
        
    }
    #conteneuractivites figure {
        margin-top: 5%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px){
    #hebergements {
        display: flex;
        flex-direction: column;
        max-width: 880px;
        padding: 40px 0 10px 0;
    }
    #hebergements h2 {
        margin: 0;
        padding: 0 0 10px 25px;
    }
    .conteneurhebergement {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 20px 0;

    }
    .carteimage {
        width: none;
        height: 125px;
        background-size: cover;
        background-position: center;
    }
    .plus {
        padding-top: 40px;
    }
    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 40px;
        padding: 40px 0 10px 0;
    }
    .titrepopulaires {
        padding: 0 20px 20px 20px;
    }
    #populaires {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 20px 0;
    }
    .tuilepopulaires {
        display: flex;
        width: 334px;
    }
    .texteimage h3 {
        margin: 5px 2px 5px 0;
    }
    .texteimage p {
        margin: 5px 2px 5px 0;
    }
    #conteneuractivites img{
        width: 290px;
    }
    #conteneuractivites {
        padding: 0 20px;
    }
    .titreactivites{
        padding-left: 35px;
    }
    figure {
        margin: 5px 5px;
    }
}
@media screen and (min-width: 1400px) {
    body {
        width: auto;
        margin: auto;
        overflow-x: hidden;
    }
    .conteneurpage {
        width: 1400px;
    }
    header {
        max-width: 1400px;
        margin: auto;
    }
    .conteneurpage {
        max-width: 100rem;
        margin: auto;
    }
    footer {
        max-width: 100rem;
        margin: auto;
    }
    #hebergements {
        max-width: 1000px;
        margin-right: 40px;
    }
    .plus {
        padding: 20px 0px 0px 30px;
    }
    aside {
        width: 450px;
    }
    #conteneuractivites {
        padding: 0 20px;
        margin-bottom: 50px;
    }
    #conteneuractivites img{
        width: 300px;
    }
    figure {
        margin: 5px 5px;
    }
    .titreactivites {
        padding-left: 35px;
    }
    .tuilepopulaires {
        margin-bottom: 20px;
    }
    .populaireimage {
        width: 9em;
        height: 9em;
    }
    footer {
        width: 100%;
        background-color: #F2F2F2;
    }
    #conteneurfooter {
        display: flex;
        width: 1320px;
        margin: auto;
    }
    .apropos {
        padding: 40px 80px 40px 0;
    }
}
